/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/
body {
	/* Location of the image */
	background-image: url(../images/alanyabg.png);

	/* Image is centered vertically and horizontally at all times */
	background-position: center center;

	/* Image doesn't repeat */
	background-repeat: no-repeat;

	/* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
	background-attachment: fixed;

	/* This is what makes the background image rescale based on its container's size */
	background-size: cover;

	/* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {


	@media screen and (min-width: 0px) and (max-width: 767px) {
		#slider { display: block; }
		#ww { display: block; }
	}

	@media screen and (min-width: 4px) and (max-width: 1024px) {
		#slider { display: none; }
		#ww { display: none; }
	}

	@media screen and (min-width: 4px) and (max-width: 1024px) {


	}

}
@media screen and (min-width: 767px) {
	#mobile {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none;
	}

	#cat {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none;
	}
}



@media screen and (max-width: 1065px) {
	.logoo {
		height: 80px;
	}

	.width100 {
		width: 100%;
	}
	.widthleft {
		width: 100%;
	}
}

