.mini-submenu{
  display:none !important;  
  background-color: rgba(0, 0, 0, 0)!important;  
  border: 1px solid rgba(0, 0, 0, 0.9)!important;
  border-radius: 4px!important;
  padding: 9px!important;  
  /*position: relative;*/
  width: 42px!important;

}

.mini-submenu:hover{
  cursor: pointer!important;
}

.mini-submenu .icon-bar {
  border-radius: 1px!important;
  display: block!important;
  height: 2px!important;
  width: 22px!important;
  margin-top: 3px!important;
}

.mini-submenu .icon-bar {
  background-color: #000!important;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45)!important;
  display: inline-block!important;
  padding: 0 8px!important;
  border-radius: 4px!important;
  cursor: pointer!important;
}